<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
</head>
<body>
    <header>
        <h1>Welcome to Server</h1>
        <a href="/upload">upload</a>
    </header>
    <main>
        <div>
            {% for file in files %}
                <div><a href="{{ url_for('file_page', file_id=file.id) }}">{{ file.file }}</a></div>
            {% endfor %}
        </div>
    </main>
</body>
</html>